<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align ="center">
        <h1>Welcome To {{title}}SHOP</h1>
    </div>
    <hr/>
    <div align="right">
        <button><a href="">Board</a></button>
        <button><a href="cart/">Cart</a></button>
        {% if user_name %}
            <button><a href="user/">{{user_name}}</a></button>
        {%else%}
            <button><a href="user/">login</a></button>
        {%endif%}
    </div>

</body>
</html>