<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align ="center">
    <h1>Welcome To PHSSHOP</h1>
</div>
<hr/>
<div align="right">
    {% if user_id == 'admin'%}
        <button><a href="">WRITE</a></button>
    {%endif%}
    <button><a href="./goHome/">HOME</a></button>
</div>
<table>
    <tr>
        <th>NO</th>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<th>TITLE</th>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<th>WRITER</th>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<th>REGDATE</th>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<th>VIEWS</th>
    </tr>

    {% for board in boards%}
    <tr>
        <td>{{board.id}}</td>
        <td><a href="./boardRead?id={{board.id}}"> {{board.title}}</a></td>
        <td>{{board.writer}}</td>
        <td>{{board.regdate}}</td>
        <td>{{board.viewcnt}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>