<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align ="center">
        <h1>Welcome To PHSSHOP</h1>
    </div>
    <hr/>
    <div align="right">
        <a href="./goHome/">HOME</a>
    </div>
    {{error}}
    <div align="center">
        <h2>Login Here!</h2>
        <form action="./signedIn/" method="post">
            {% csrf_token %}
            ID  : <input type="text" placeholder="ID" name = "id" required><br/>
            <br/>
            PWD : <input type="password" placeholder="Password" name = "pwd" required><p/>
            <input type="submit" value="login">
            &nbsp;<button><a href="../signUp/">SignUp</a></button>
        </form>
    </div>

</body>
</html>