<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align ="center">
        <h1>Welcome To PHSSHOP</h1>
    </div>
    <hr/>
    <div align="right">
        <button><a href="../goHome/">HOME</a></button>
        <button><a href="userLogOut/">LOGOUT</a></button>
    </div>
    {% if sessionUserName %}
        <div align="center">
            <h2>HI! {{sessionUserName}}</h2>
        </div>
    {%else%}
        <p> 사용자의 이름이 없습니다.</p>
    {%endif%}
    <div>
        <ul>
            <button><a href="">주문목록</a></button>
        </ul>
        <hr/>
        <ul>
            <button><a href="">내가쓴 리뷰</a></button>
        </ul>
        <hr/>
        <ul>
            <button><a href="">문의사항</a></button>
        </ul>
        <hr/>
        <ul>
            <button><a href="userDetail/">회원정보</a></button>
        </ul>
        <hr/>
        <ul>
            <button><a href="userRemove/">회원탈퇴</a></button>
        </ul>
        <hr/>
    </div>
</body>
</html>