<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align ="center">
        <h1>Welcome To PHSSHOP</h1>
    </div>
    <hr/>
    <div align="right">
        <a href="../goHome">HOME</a>
    </div>
    <div>
        <h2>Join Us!</h2>
        <form action="../join/" method="post">
            {% csrf_token %}
            ID  : <input type="text" placeholder="ID" name = "id" required><br/>
            <br/>
            PWD : <input type="password" placeholder="Password" name = "pwd" required><br/>
            <br/>
            NAME : <input type="text" placeholder="Name" name = "name" required><p/>
            <input type="submit" value="Done">
        </form>
    </div>

</body>
</html>